* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sp-sidebar: rgba(0, 1, 1, 1);
    --sp-semitransparent: rgba(0, 1, 1, 0.5);

    --sp-footer: rgba(41, 40, 41, 1);
    --sp-navigation: rgba(21, 24, 34, 1);
    --sp-light: rgba(254, 255, 254, 1);
    --sp-darker-light: rgba(162, 162, 163, 1);
    --sp-evidence: rgba(172, 255, 46, 1);
}

* {
    font-family: 'DM Sans', sans-serif;
}
span{
    color: var(--sp-darker-light);
    padding: 0.2rem 0;
}
h3 {
    color: var(--sp-light);
    font-weight: 600;
}
h2{
    color: var(--sp-light);
}

::-webkit-scrollbar{
    z-index: 10;
    width: 0.6rem;
}
::-webkit-scrollbar-track {
    background: var(--sp-light); 
}
::-webkit-scrollbar-thumb {
    background: var(--sp-darker-light); 
    border-radius:10px;
}
/* ::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */

/* #region Utility */

.d-flex {
    display: flex;
}

.p-1 {
    padding: 1rem;
}

.btn-transparent {
    border: 1px solid var(--sp-light);
    border-radius: 20px;
    width: calc(100%/12 * 2);
    margin: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn-transparent a {
    text-decoration: none;
    color: var(--sp-light);
    text-transform: uppercase;
    font-size: 1vw;
    line-height: 1vw;
}

a.active:after {
    content: "";
    border: 1px solid var(--sp-evidence);
    position: absolute;
    width: 30%;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}

/* #endregion Utility */


/* #region Common */
#navigation>.container>section{
    padding-top: 1.5rem;
}

section>h2{
    padding: 1rem;
}

.collection {
    width: calc(100%/12 * 2);
    padding: 0.5rem 1rem;
    text-align: center;
}
#navigation>.container h4{
    color:var(--sp-light);
    padding: 0.2rem 0;
}
.artist {
    width: calc(100%/12 * 2);
    padding: 0.5rem 1rem;
    text-align: center;

}

.cover{
    position: relative;
}

li>a {
    text-decoration: none;
    color: inherit;
}

/* #endregion Common */

/* #region MAIN */
#site-main {
    height: calc(100vh - 90px);
    display: flex;
}

/* #region Sidebar */

#sidebar {
    width: 230px;
    height: 100%;
    background-color: var(--sp-sidebar);
    z-index: 2;
}

.logo {
    padding: 2rem 4rem 2rem 1rem;
}

nav {
    color: var(--sp-light);
}

.menu li,
.playlist li,
.navbar li
{
    list-style: none;

}

.playlist {
    color: var(--sp-darker-light);
}

.sidebar-bottom {
    bottom: 0;
}

/* #endregion Sidebar */


/* #region navigation */
#navigation {
    padding-top: 90px;
    background-color: var(--sp-navigation);
    overflow-y: scroll;
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    
}

.upgrade {
    background-color: var(--sp-semitransparent);
    justify-content: end;
    position: fixed;
    width: 100%;
    height: 90px;
    right: 0;
    top: 0;
}

#navigation .content.d-flex {
    flex-wrap: wrap;
}

#navigation .navbar {
    justify-content: center;
}
#navigation .navbar ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#navigation .navbar li{
    position: relative;
    padding: 1rem;
    text-transform: uppercase;
    color: var(--sp-darker-light);
    letter-spacing: 1px;
}

/* #endregion navigation */
.collection img {
    max-width: 100%;
}

.artist img {
    max-width: 100%;
    border-radius: 50%;
}

.play-now{
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio:1;
    background: var(--sp-semitransparent);
}
.play-now i{
    color: var(--sp-light);
    font-size: 3rem;
}
.artist .play-now{
    border-radius: 50%;
}

.play-now{
    display: none;
}

.cover:hover .play-now{
    display: flex;
}

/* #endregion MAIN */



/* #region Footer */
#site-footer {
    height: 90px;
    z-index: 1;
    background-color: var(--sp-footer);
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}

/* #endregion Footer */

@media screen and (max-width: 1200px) {
    .collection {
        width: calc(100%/12 * 4);
        padding: 0.5rem 1rem;
    }

    .artist {
        width: calc(100%/12 * 4);
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .collection {
        width: calc(100%/12 * 6);
        padding: 0.5rem 1rem;
    }

    .artist {
        width: calc(100%/12 * 6);
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 475px) {
    #sidebar {
        width: 50px;
    }

    #navigation {
        width: calc(100% - 50px);
    }
}






/* #region DEBUG */

.debug #sidebar {
    height: calc(100vh - 90px);
}

.debug #navigation {
    height: calc(100vh - 90px);
}

.debug .upgrade {
    background-color: red;
}

/* #endregion DEBUG */