* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sp-sidebar: rgba(0, 1, 1, 1);
    --sp-semitransparent: rgba(0, 1, 1, 0.5);

    --sp-footer: rgba(41, 40, 41, 1);
    --sp-navigation: rgba(21, 24, 34, 1);
    --sp-light: rgba(254, 255, 254, 1);
    --sp-darker-light: rgba(162, 162, 163, 1);
    --sp-evidence: rgba(172, 255, 46, 1);
}

* {
    font-family: 'DM Sans', sans-serif;
}
span{
    color: var(--sp-darker-light);
    padding: 0.2rem 0;
}
h3 {
    color: var(--sp-light);
    font-weight: 600;
}
h2{
    color: var(--sp-light);
}

::-webkit-scrollbar{
    z-index: 10;
    width: 0.6rem;
}
::-webkit-scrollbar-track {
    background: var(--sp-light); 
}
::-webkit-scrollbar-thumb {
    background: var(--sp-darker-light); 
    border-radius:10px;
}
/* ::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */

/* #region Utility */

.d-flex {
    display: flex;
}

.p-1 {
    padding: 1rem;
}

.btn-transparent {
    border: 1px solid var(--sp-light);
    border-radius: 20px;
    width: calc(100%/12 * 2);
    margin: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn-transparent a {
    text-decoration: none;
    color: var(--sp-light);
    text-transform: uppercase;
    font-size: 1rem;
}

a.active:after {
    content: "";
    border: 1px solid var(--sp-evidence);
    position: absolute;
    width: 30%;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}

/* #endregion Utility */


/* #region Common */
#navigation>.container>section{
    padding-top: 1.5rem;
}

section>h2{
    padding: 1rem;
}

.collection {
    width: calc(100%/12 * 2);
    padding: 0.5rem 1rem;
    text-align: center;
}
#navigation>.container h4{
    color:var(--sp-light);
    padding: 0.2rem 0;
}

#navigation>.container{
    padding-top: 90px;

}
.artist {
    width: calc(100%/12 * 2);
    padding: 0.5rem 1rem;
    text-align: center;

}

.cover{
    position: relative;
}

li>a {
    text-decoration: none;
    color: inherit;
}

/* #endregion Common */

/* #region MAIN */
#site-main {
    height: calc(100vh - 90px);
    display: flex;
}

/* #region Sidebar */

#sidebar {
    width: 230px;
    height: 100%;
    background-color: var(--sp-sidebar);
    z-index: 1;
    overflow: hidden;
    padding: 1rem;
}

.side-big{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    padding: 0.5rem 4rem 2rem 0;
}

nav.menu {
    color: var(--sp-light);
}

.menu li{
    display: flex;
    align-items: center;
}
.menu li>img{
    width: 1.5rem ;
}
.menu li a{
    padding-left: 1rem;
}

.menu li,
.playlist li,
.navbar li
{
    list-style: none;

}
.playlist{
    padding: 1.5rem 0;
}

.playlist>.create, .playlist>.playlist-list {
    color: var(--sp-darker-light);
    padding: 0.5rem 0;
}
.playlist>h4{
    color: var(--sp-light);
    text-transform: uppercase;
}
.create{
    align-items: center;
}

 .create>.add{
    height: 2rem;
    width: 2rem;
    background-color: var(--sp-darker-light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add>i{
    color: var(--sp-sidebar);
}

.create>h4{
    padding-left: 0.5rem;
}

.playlist-list{
    max-height: 50%;
}

.playlist-list li{
    padding: 0.5rem 0;
}

.side-big-bottom .instal>*{
    color: var(--sp-darker-light);
}

.side-big-bottom .instal{
    align-items:center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--sp-darker-light);
    padding-bottom: 0.5rem;
}

.side-big-bottom .user{
    padding-top: 1rem;
    align-items: center;
    gap: 0.5rem;
}

.side-big-bottom .user-img{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
    background-color: var(--sp-darker-light);
    border-radius: 50%;
}

.user-img>img{
    aspect-ratio: 1;
}
.side-small{
    display: none;
}
/* #endregion Sidebar */


/* #region navigation */
#navigation {
    background-color: var(--sp-navigation);
    overflow-y: scroll;
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    
}

.upgrade {
    background-color: var(--sp-semitransparent);
    justify-content: end;
    position: sticky;
    width: 100%;
    height: 90px;
    right: 0;
    top: 0;
}

#navigation .content.d-flex {
    flex-wrap: wrap;
}

#navigation .navbar {
    justify-content: center;
}
#navigation .navbar ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#navigation .navbar li{
    position: relative;
    padding: 1rem;
    text-transform: uppercase;
    color: var(--sp-darker-light);
    letter-spacing: 1px;
}

/* #endregion navigation */
.collection img {
    max-width: 100%;
}

.artist img {
    max-width: 100%;
    border-radius: 50%;
}

.play-now{
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio:1;
    background: var(--sp-semitransparent);
}
.play-now i{
    color: var(--sp-light);
    font-size: 3rem;
}
.artist .play-now{
    border-radius: 50%;
}

.play-now{
    display: none;
}

.cover:hover .play-now{
    display: flex;
}

/* #endregion MAIN */



/* #region Footer */
#site-footer {
    height: 90px;
    z-index: 1;
    background-color: var(--sp-footer);
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}

/* #endregion Footer */

@media screen and (max-width: 1200px) {
    .collection {
        width: calc(100%/12 * 4);
        padding: 0.5rem 1rem;
    }

    .artist {
        width: calc(100%/12 * 4);
        padding: 0.5rem 1rem;
    }
    .btn-transparent {
        width: calc(100%/12 * 5);
    }
}

@media screen and (max-width: 768px) {
    .collection {
        width: calc(100%/12 * 6);
        padding: 0.5rem 1rem;
    }

    .artist {
        width: calc(100%/12 * 6);
        padding: 0.5rem 1rem;
    }
    .btn-transparent {
        width: calc(100%/12 * 5);
    }
}
@media screen and (max-height:768px) {
    .playlist-list{
        height: 175px;
        overflow-y: scroll;
    }
    
}


@media screen and (max-width: 475px) {
    #sidebar {
        width: 50px;
        padding: 0.5rem;
    }

    .side-big{
        display: none;
    }
    .side-small{
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu li{
justify-content: center;    }
    #navigation {
        width: calc(100% - 50px);
    }

    .logo{
        padding: 0;
    }

    .side-small{
        display: flex;
    }
    .side-small-bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .side-small-bottom .instal>*{
        color: var(--sp-darker-light);
    }
    
    .side-small-bottom .instal{
        align-items:center;
        padding-bottom: 0.5rem;
    }
    
    .side-small-bottom .user{
        padding-top: 1rem;
        align-items: center;
        gap: 0.5rem;
    }
    
    .side-small-bottom .user-img{
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.2rem;
        background-color: var(--sp-darker-light);
        border-radius: 50%;
    }
    
    .user-img>img{
        aspect-ratio: 1;
    }

    .btn-transparent {
        width: calc(100%/12 * 6);
    }
    
}


/* #region DEBUG */

.debug #sidebar {
    height: calc(100vh - 90px);
}

.debug #navigation {
    height: calc(100vh - 90px);
}

.debug .upgrade {
    background-color: red;
}

/* #endregion DEBUG */